html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.mapdiv{
    background-color:#2e3033;
    height:30px;
}
.specialbacktext{
    color: beige;
    margin-left: 10px;    
}
